/* General Styles */
.about {
    position: relative;
    width: 100%;
    padding: 6rem 4.5rem;
    overflow: hidden;
}

.about-contain {
    display: grid;
    place-items: center;
    color: white;
}

.about-contain h2 {
    font-family: regular;
    font-size: 3rem;
}

.about-contain span {
    font-family: regular;
    font-size: 3rem;
    color: aqua;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about_img {
    margin-top: 4rem;
    margin-right: 55rem;
    height: 320px;
    width: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.scroll {
  position: absolute;
  top: 80%;
 left: 30%;
  width: 220px;
  height: 220px;
  transform: translate(-50%, -50%);
}

/* White center circle */
.white-circle {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

/* Circular text layer */
.circular-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: spin 14s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.img-contain {
    position: absolute;
    top: 27.5rem;
    left: 28rem;
}

.img-contain img {
    height: 40px;
    width: 40px;
}

.pro-contain {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: regular;
    color: white;
    overflow: hidden;
}


.progress {
    padding-top: 3rem;
    display: flex;
    position: relative;
}

.progress h6,
.progress h1,
.progress h2,
.progress h4 {
    position: absolute;
    height: 8px;
    background: linear-gradient(to right, #00FFFF, #8A2BE2);
    border-radius: 12rem;
    animation: bar 2s linear;
}

.progress h6 {
    top: 3.5rem;
    left: 8rem;
    width: 28rem;
}

.progress h1 {
    top: 3.5rem;
    left: 8rem;
    width: 25rem;
}

.progress h2 {
    top: 3.5rem;
    left: 8rem;
    width: 23rem;
}

.progress h4 {
    top: 3.5rem;
    left: 8rem;
    width: 21rem;
}

@keyframes bar {
    0% {
        width: 0;
    }

    100% {
        width: 28rem;
    }
}

/* Mobile Responsiveness */
@media (max-width: 939px) {
    .about {
        padding: 2rem 1rem;
    }

    .about-contain {
        padding: 0 1rem;
        text-align: center;
    }

    .about-contain h2 {
        font-size: 2rem;
    }

    .about-contain span {
        font-size: 2rem;
    }

    .about_img {
        position: relative;
        margin: 0rem auto;
        width: 40%;
        height: 82%;
    }

    .scroll {
        top: 25rem;
        left: 60%;
        transform: translateX(-50%);
    }

    .img-contain {
        top: 30rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .pro-contain {
        width: 90%;
        top: 137%;
        left: 43%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 2.8 5rem;
    }

    .pro-contain p {
        margin-left: 5rem;
        text-align: start;
        width: 90%;
    }

    .progress {
        padding-top: 3rem;
        display: flex;
        position: relative;
        margin-left: 5rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {

        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 28rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 25rem;
    }

    .progress h2 {
        top: 3.5rem;
        left: 8rem;
        width: 23rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 21rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }

}

@media (max-width:897px) {
    .pro-contain p {

        text-align: start;
    }

}

@media (max-width:846px) {
    .about {
        padding: 60rem 1rem;
    }

    .about-contain h2 {
        font-size: 1.8rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }

    .pro-contain {
        width: 100%;
        top: 86%;
    }

    .pro-contain p {
        margin: 1rem 8rem;
        text-align: start;
    }

    .scroll {
        top: 82rem;
        left: 60%;
        transform: translateX(-50%);
    }


    .progress {
        /* padding-right: 2rem; */
        padding-top: 3rem;
        display: flex;
        position: relative;
        margin-left: 8.5rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {

        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 28rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 25rem;
    }

    .progress h2 {
        top: 3.5rem;
        left: 8rem;
        width: 23rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 21rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }
}

@media (max-width:654px) {
    .about {
        padding: 60rem 1rem;
    }

    .about-contain h2 {
        font-size: 1.8rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }

    .pro-contain {
        width: 100%;
        top: 80%;
    }

    .about_img {
        margin-top: 1%;
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .pro-contain p {
        margin: 1rem 7rem;
        text-align: start;
    }

    


    .progress {
        /* padding-right: 2rem; */
        padding-top: 3rem;
        display: flex;
        position: relative;
        margin-left: 7rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {

        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 28rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 25rem;
    }

    .progress h2 {
        top: 3.5rem;
        left: 8rem;
        width: 23rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 21rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }
}

@media (max-width:540px) {
    .about {
        padding: 60rem 1rem;
    }

    .about-contain h2 {
        font-size: 1.8rem;
    }

    .about_img {
        margin-top: 1%;
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }

    .pro-contain {
        width: 100%;
        top: 82%;
    }

    .pro-contain p {
        margin: 1rem 6rem;
        text-align: start;
    }

    .scroll {
        top: 81rem;
        left: 60%;
        transform: translateX(-50%);
    }


    .progress {
        /* padding-right: 2rem; */
        padding-top: 3rem;
        display: flex;
        position: relative;
        margin-left: 6.5rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {

        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 28rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 25rem;
    }

    .progress h2 {
        top: 3.5rem;
        left: 8rem;
        width: 23rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 21rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }
}

@media (max-width:664px) {
    .scroll {
        top: 77rem;
        left: 60%;
        transform: translateX(-50%);
    }




}

@media (max-width:430px) {
    .about {
        padding: 60rem 1rem;
    }

    .about_img {
        margin-top: 1rem;
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .about-contain h2 {
        font-size: 1.8rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }

    .pro-contain {
        width: 100%;
        top: 82%;
    }

    .pro-contain p {
        margin: 1rem 5rem;
        text-align: start;
        line-height: 2.1rem;
    }

    .scroll {
        top: 73rem;
        left: 80%;
        transform: translateX(-50%);
    }


    .progress {
        /* padding-right: 2rem; */
        padding-top: 3rem;
        display: flex;
        position: relative;
        margin-left: 5rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {

        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 28rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 25rem;
    }

    .progress h2 {
        top: 3.5rem;
        left: 8rem;
        width: 23rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 21rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }
}







@media (max-width:414px) {
    .about {
        padding: 58rem 1rem;
    }

    .about-contain h2 {
        padding-bottom: 2rem;
        font-size: 1.8rem;
    }

    

    .about-contain span {
        font-size: 1.8rem;
    }

    .about_img {
        position: relative;
        margin: 0rem auto;
        width: 60%;
        height: 102%;
    }

    .scroll {
        position: absolute;
        top: 74rem;
        left: 65%;
        height: 80px;
        width: 80px;
        background-color: #FFFFFF;
        border-radius: 12rem;
        animation: scroll 5s linear infinite;
    }

    .scroll img {
        height: 80px;
        width: 80px;
    }

    .pro-contain {
        width: 100%;
        top: 83%;
    }

    .pro-contain p {
        font-size:1.2rem;
        text-align: start;
        width: 76%;
        padding-right: 1rem;
        line-height: 1.7rem;
    }

    .progress {
        padding-top: 3rem;
        display: flex;
        position: relative;
        /* padding-left: 3rem; */
    }

    .progress h3 {
        font-size: 0.9rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {
        /* margin-left: 2rem; */
        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 13rem;
    }

    .progress h1 {
        top: 3.5rem;
        left: 8rem;
        width: 12rem;
    }

    .progress h2 {
        margin: 0;           /* removes extra space */
  line-height: 1;     /* reduces text height */
  padding: 0;   
   width: 11rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 10rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }


}



@media (max-width: 375px) {
    .about {
        height: auto;
        position: absolute;
       top:-20%;
        padding: 60rem 1rem;
    }

    .about-contain h2 {
        padding-bottom:3rem;
        font-size: 1.8rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }

    .about_img {
        position: relative;
        margin: 0rem auto;
        width: 60%;
        height: 105%;
    }

    .scroll {
        position: absolute;
        top: 76rem;
        left: 65%;
        height: 80px;
        width: 80px;
        background-color: #FFFFFF;
        border-radius: 12rem;
        animation: scroll 5s linear infinite;
    }

    .scroll img {
        height: 80px;
        width: 80px;
    }

    .pro-contain {
        width: 100%;
        top: 70%;
    }

    .pro-contain p {
        line-height: 1.4rem;
        font-size: 0.9rem;
        text-align: start;
    }

    .progress {
        padding-top: 3rem;
        display: flex;
        position: relative;
        /* padding-left: 3rem; */
    }

    .progress h3 {
        font-size: 0.9rem;
    }

    .progress h6,
    .progress h1,
    .progress h2,
    .progress h4 {
        /* margin-left: 2rem; */
        position: absolute;
        height: 8px;
        background: linear-gradient(to right, #00FFFF, #8A2BE2);
        border-radius: 12rem;
        animation: bar 2s linear;
    }

    .progress h6 {
        top: 3.5rem;
        left: 8rem;
        width: 10rem;
    }

    .progress h1 {
        top: 3.5rem;
        
        left: 8rem;
        width: 9rem;
    }

    .progress h2 {
        margin: 0;           /* removes extra space */
  line-height: 1;     /* reduces text height */
  padding: 0;   
   width: 8rem;
    }

    .progress h4 {
        top: 3.5rem;
        left: 8rem;
        width: 7rem;
    }

    @keyframes bar {
        0% {
            width: 0;
        }

        100% {
            width: 28rem;
        }
    }

}

@media (max-width:360px) {
    .about {
        position: absolute;
        top: 3%;
        padding: 58rem 1rem;
    }

    .scroll {
        position: absolute;
        top: 74rem;
        left: 62%;
        height: 80px;
        width: 80px;
        background-color: #FFFFFF;
        border-radius: 12rem;
        animation: scroll 5s linear infinite;
    }

    .scroll img {
        height: 80px;
        width: 80px;
    }
    .pro-contain p {
        font-size:1.1rem;
        text-align: start;
        width: 76%;
        padding-right: 1rem;
        padding-top: 7rem;
        line-height: 1.7rem;
    }


}
@media (max-width:768px) {
    .about {
      
    }
 .about_img {
        position: relative;
        margin: 0rem auto;
        width: 60%;
        height: 100%;
    }
    .about-contain h2 {
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }

    .about-contain span {
        font-size: 1.8rem;
    }


    .scroll {
        position: absolute;
        top: 74rem;
        left: 62%;
        height: 80px;
        width: 80px;
        background-color: #FFFFFF;
        border-radius: 12rem;
        animation: scroll 5s linear infinite;
    }

    .scroll img {
        height: 80px;
        width: 80px;
    }
    .pro-contain p {
        font-size:1.1rem;
        text-align: start;
        width: 76%;
        padding-right: 1rem;
        padding-top: 7rem;
        line-height: 1.7rem;
    }
    .progress h2 {
        margin: 0;           /* removes extra space */
  line-height: 1;     /* reduces text height */
  padding: 0;   
   width: 23rem;
    }



}